<div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-success m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add new Book
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">add book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label">name</label>
            <input type="text" class="form-control"  [(ngModel)]="newbook.name">
          </div>
          <div class="mb-2">
            <label for="exampleFormControlTextarea1" class="form-label">description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="newbook.description"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">price</label>
            <input type="number" class="form-control" [(ngModel)]="newbook.price" >
          </div>
          <label for="exampleFormControlInput1" class="form-label">category</label>
          <select class="form-select" aria-label="Default select example" [(ngModel)]="newbook.category_id" [value]="catid">
            <option *ngFor="let cat of cats ; index as i" value="{{i+1}}">{{cat.name}}</option>
          </select>
          <!-- <div class="alert alert-danger">
            {{newbook|json}}
            </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="inssrtnewbook()">Add</button>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">description</th>
          <th scope="col">price</th>
          <th scope="col">category_id</th>
          <th scope="col">created_at</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let item of books">
          <th scope="row">{{item.id}}</th>
          <td class="py-3">{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>{{item.price}}</td>
          <td>{{item.category_id}}</td>
          <td>{{item.created_at}}</td>
        </tr>
      </tbody>
    </table>

</div>
