<section class="pt-7 vh-100 bg-light" >
  <div class="container">
    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-md-start text-center py-6 mt-5">
        <h1 class="mb-4 fs-9 fw-bold"> <span class='fs-1 fw-bold text-danger'> kitab</span> library</h1>
        <p class="mb-6 lead text-secondary">A pioneer in the field of selling books in Egypt<br class="d-none d-xl-block" />and it includes an exceptional assortment of the most prominent<br class="d-none d-xl-block" />and important Arabic and foreign titles at an affordable price for the reader.</p>
        <div class="text-center text-md-start"><a class="btn btn-warning me-3 btn-lg" href="#!" role="button">Get started</a></div>
      </div>
      <div class="col-md-6 col-7 m-auto  text-end"><img class="pt-7 pt-md-0 img-fluid " src="https://img.freepik.com/free-vector/books-seamless-pattern_1284-5148.jpg?t=st=1657822415~exp=1657823015~hmac=4451be687980b85e5b1452331ecd41023559082b7db21281ea7b68fe94bfd93b&w=740" alt="" /></div>
    </div>
  </div>
