<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top " data-navbar-on-scroll="data-navbar-on-scroll">
  <div class="container"><h3 class='fs-3 fw-bold text-danger' routerLink="home" routerLinkActive="active"> kitab</h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
    <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/books">MyBooks</a></li>
        <li class="nav-item"><a class="nav-link" aria-current="page" href="#validation">Favorites</a></li>

        <li>
          <div class="dropdown ms-2">
            <button class="btn btn-dark  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
             {{userdata.email}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" >profile</a></li>
              <li *ngIf="userdata.email=='admin@gmail.com'" routerLink="/admin"><a class="dropdown-item" >Admin Page</a></li>
              <li><a class="dropdown-item text-danger" (click)="logout()" >logout</a></li>
            </ul>
          </div>

        </li>

      </ul>


    </div>
  </div>
</nav>
