<app-header></app-header>

<body>
  <div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card" *ngFor="let item of loadedBook">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image"
                              src="/assets/pngegg (1).png"  width="250" /> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4"> 
                            <div class="d-flex justify-content-between align-items-center">
                                <div routerLink="/books"class="d-flex align-items-center c"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1">Back</span> </div> <i class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-black fs-1">
                              {{item.name}} </span>
                                <h5 class="text-uppercase"></h5>
                                <div class="price d-flex flex-row align-items-center"> <span class="act-price row col-2 me-2">{{item.price|currency:"EGP"}}  </span>
                                  <br>
                                    <div class="ml-2 " > <small class="dis-price">
                                      {{item.price +(item.price *(0.15*100/100))}}</small> <span class="ms-2"> 15% OFF</span> </div>
                                </div>
                            </div>
                            <ngx-stars [readonly]="true" [color]="'#FF0000'" [size]="2" [maxStars]="5" [initialStars]="item.value"></ngx-stars>

                            <p class="about">{{item.description}}</p>

                            <div class="cart mt-4 align-items-center"> <button class="btn btn-danger text-uppercase mr-2 px-4" >Add to cart</button> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- ................................................................... -->
  <!-- ................................................................... -->
  <!-- ................................................................... -->

  <section style="background-color: #ffffff;">
    <div class="container my-5 py-5 text-dark">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-12">
          <div class="card">
            <div class="card-body p-4">
              <div class="d-flex flex-start w-100">
                <img class="rounded-circle shadow-1-strong me-3"
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="65"
                  height="65" />
                <div class="w-100">
                  <h5>Add a comment</h5>
                  <ngx-stars [color]="'#FFA500'" [animation]="true" (ratingOutput)="onRatingSet($event)" [size]="3" [maxStars]="5" [initialStars]="2.5"></ngx-stars>
                  <div class="form-outline">
                    <textarea  class="form-control" id="textAreaExample" rows="4"></textarea>
                    <label class="form-label" for="textAreaExample">What is your view?</label>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <button type="button" class="btn btn-danger">
                      Add Commint <i class="fas fa-long-arrow-alt-right ms-1"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ............................................. -->
<!-- ............................................. -->
<!-- ............................................. -->
<section style="background-color: #f7f6f6;">
  <div class="container my-1 py-5 text-dark">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h4 class="text-dark mb-0"> comments (4)</h4>
          <div class="card">

          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar" width="40"
                height="40" />
              <div class="w-100">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h6 class="text-primary fw-bold mb-0">
                    lara_stewart
                    <span class="text-dark ms-2">Hmm, This poster looks cool</span>
                  </h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="small mb-0" style="color: #aaa;">
                    <a  class="link-grey">Remove</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

</body>
<app-footer></app-footer>


