/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(126, 4, 4);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(146, 68, 68);
}
